<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyq.bmall.mapper.UserMapper">


    <!--注册用户-->
    <insert id="save" parameterType="com.cyq.bmall.model.User">
        INSERT INTO bmall.user (id, name, username, password)
        VALUES (#{id}, #{name}, #{username}, #{password})
    </insert>

    <!--保存角色-->
    <insert id="saveRoles" parameterType="map">
        INSERT INTO bmall.user_role (USER_ID, ROLE_ID) VALUES
        <foreach collection="roleIds" separator="," item="item">
            (#{id},#{item})
        </foreach>
    </insert>

    <update id="update" parameterType="com.cyq.bmall.model.User">
        UPDATE bmall.user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password !=null">
                password = #{password},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM bmall.user
        WHERE ID = #{id}
    </delete>

    <delete id="deleteRoles">
        DELETE FROM bmall.user_role
        WHERE USER_ID = #{id}
    </delete>

    <!--登录-->
    <select id="login" resultType="com.cyq.bmall.model.User">
        SELECT *
        FROM bmall.user
        WHERE username = #{username} AND password = #{password}
    </select>

    <!--统计用户名-->
    <select id="countUserName" resultType="java.lang.Integer">
        SELECT count(1)
        FROM bmall.user
        WHERE username = #{username}
    </select>

    <!--查询用户-->
    <select id="findUser" parameterType="map" resultType="com.cyq.bmall.model.User">
        SELECT * FROM bmall.user
        <where>
            <if test="username != null">
                and username like CONCAT('%',#{username},'%')
            </if>
        </where>
        <if test="order != null">
            order by ${sort} ${order}
        </if>

    </select>

    <!--用户的角色-->
    <select id="getUserRoleIds" resultType="java.lang.Long">
        SELECT ROLE_ID
        FROM bmall.user_role
        WHERE USER_ID = #{id}
    </select>

    <!-- 用户的角色名称-->
    <select id="getUserRoleNames" resultType="java.lang.String">
        SELECT r.name
        FROM bmall.role r INNER JOIN bmall.user_role ur ON r.ID = ur.ROLE_ID
        WHERE ur.user_id = #{id}
    </select>

    <select id="getById" resultType="com.cyq.bmall.model.User">
        SELECT *
        FROM bmall.user
        WHERE id = #{id}
    </select>

    <select id="getRoleUsers" parameterType="map" resultType="com.cyq.bmall.model.User">
            SELECT u.*
            FROM bmall.user u INNER JOIN bmall.user_role ur ON u.id = ur.user_id
            WHERE ur.role_id = #{type}
            order by u.id
    </select>

    <select id="bestShopNames" resultType="java.lang.String">
        SELECT s.name
        FROM bmall.user s INNER JOIN bmall.shop_commodity sc ON sc.shop_id=s.id
        INNER JOIN bmall.commodity c ON sc.commodity_id=c.id
        INNER JOIN bmall.order_commodity oc ON oc. commodity_id=c.id
        INNER JOIN bmall.order o ON oc.order_id = o.id
        WHERE o.issueTime between #{dateBegin,jdbcType=TIMESTAMP} and #{dateEnd,jdbcType=TIMESTAMP}
        GROUP BY s.id
        ORDER BY SUM(c.price*quantity) DESC
        LIMIT 10
    </select>

    <select id="bestShopValues" resultType="java.lang.Float">
        SELECT SUM(price)
        FROM bmall.buyer b INNER JOIN bmall.order o ON o.userId=b.id
        WHERE o.issueTime between #{dateBegin,jdbcType=TIMESTAMP} and #{dateEnd,jdbcType=TIMESTAMP}
        GROUP BY b.id
        ORDER BY SUM(price) DESC
        LIMIT 10
    </select>
</mapper>